/*This stylesheets fix some of the errors that Jquery Mobile has*/
body{
    padding:0px;
    margin: 0px;
    max-width:100%;
}

ul {
    list-style-type: none !important;
    margin:0px;
}
li{
    text-decoration: none;
}
.ui-input-text{
    margin:0px !important;
}
/*Buttons*/
/* #Carrot Flat Button
==================================================*/
.carrot-flat-button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #e67e22;
    border: 0;
    border-bottom: 2px solid #da751c;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #da751c;
    box-shadow: inset 0 -2px #da751c;
}
.carrot-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* #Alizarin Flat Button
==================================================*/
.alizarin-flat-button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #e74c3c;
    border: 0;
    border-bottom: 2px solid #db4334;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #db4334;
    box-shadow: inset 0 -2px #db4334;
}
.alizarin-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* #Green Sea Flat Button
==================================================*/
.green-sea-flat-button {
    position: relative;
    vertical-align: top;
    width: 100%;
    height: 60px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #16a085;
    border: 0;
    border-bottom: 2px solid #14947b;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #14947b;
    box-shadow: inset 0 -2px #14947b;
}
.green-sea-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*Drop down menu*/
select{
    width: 75%;
    padding: 10px;
}